# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php
#sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

sites/default/files/php
sites/default/files/js
sites/default/files/css
sites/default/files/php/*
sites/default/files/js/*
sites/default/files/css/*
#sites/default/settings.local.php
#sites/default/settings.php

